html {
  font-size: 16px;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #1E4B14;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

p {
  display: block;
  margin: 1rem auto;
  text-align: center;
  color: white;
}

.single {
  padding: 20rem 16rem;
  background-color: #1E4B14;
}

.body {
  background: #1E4B14;
  height: 100%;
}

@media (max-width: 480px){

  .single {
    padding: 2rem 2rem;
    background-color: #1E4B14;
  }

  img {
    width: 300px;
    margin-top: 20rem;
  }
}
